@{
}

<html>
<head>
    <title>Gummi Bear Kingdom</title>
</head>
<body>
    <h2>Welcome to Gummi Bear Kingdom!</h2>
    <p>@Html.ActionLink("View all our amazing products", "Index", "Products")</p>
</body>
</html>